/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto Serif', serif;
}

/* STYLE */

.page__header {
    padding: 40px 0px;
    text-align: center;
    background-color: wheat;
}

.header__title {
    font-size: 50px;
}

.header__subtitle {
    font-size: 30px;
    padding: 0px 300px;
}

