/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto Serif', serif;
}

/* STYLE */

.page__header {
    padding: 40px 0px;
    text-align: center;
    background-color: wheat;
}

.header__title {
    font-size: 50px;
}

.header__subtitle {
    font-size: 30px;
    padding: 0px 300px;
}

#createMember {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    color: white;
    background-color: rgba(57, 57, 179, 0.966);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 40px;
}

#createMember:hover {
    background-color: hsla(240, 52%, 56%, 0.966);
}
